<div class="container mt-5">
    <h1 class="text-center mb-5">Restaurant Menu</h1>
    <div class="row">
        <ng-container *ngFor="let menu of menuList">
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h2 class="card-title">{{ menu.category }}</h2>
                        <ul class="list-group" *ngFor="let subMenu of menu.menu">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>{{ subMenu.name }}</span>
                                <span>${{ subMenu.price }}</span>
                                <button class="add-to-cart-btn" 
                                    (click)="addToCart(subMenu.id, subMenu.name, subMenu.price);">Add to Cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="cart-sidebar show">
        <h4>Cart</h4>
        <div id="cart-items">
            <p *ngIf="cartList.length == 0">No items added to cart</p>
            <ng-container *ngFor="let item of cartList">
                <p>{{ item.name }} ${{ item.price }}</p>
            </ng-container>
        </div>
        <div class="cart-total">
            <span>Total:</span>
            <span id="total-price">${{ getTotalPrice() }}</span>
        </div>
    </div>
</div>







