<div class="container mt-5">
    <h1 class="text-center mb-5">Restaurant Menu</h1>
    <div class="row">
        <ng-container *ngFor="let menu of menuList">
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h2 class="card-title">{{ menu.category }}</h2>
                        <ul class="list-group" *ngFor="let subMenu of menu.menu">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>{{ subMenu.name }}</span>
                                <span>${{ subMenu.price }}</span>
                                <button class="add-to-cart-btn" 
                                    (click)="addToCart(subMenu.id, subMenu.name, subMenu.price);">Add to Cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <app-cart [cartList]="cartList"></app-cart>
</div>







